@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/cuprum.woff) format("woff"),
    url(fonts/cuprum.woff2) format("woff2");
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  max-width: 1200px;
  min-width: 940px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Cuprum';
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  min-width: 940px;
  background-color: #F1F5F7;
}

.menu {
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.wrapper {
  display: flex;
  width: 940px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.logo {
  display: flex;
  width: 220px;
  height: 100%;
  background-color: #EE3643;
  box-shadow: 0px 5px 0px 0px #b52933;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /*поправить в каталоге*/
}

.logo:focus {
  background-color: #BA2732;
  box-shadow: 0px 5px 0px 0px #8d1e26;
}

.menu-search {
  position: relative;
  width: 270px;
  height: 100%;
}

.menu-search:hover g {
  opacity: 1;
}

.menu-input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 43px;
  border: none;
  background-color: #293449;
  color: #fff;
  outline: none;
}

.menu-label {
  display: flex;
  width: 49px;
  height: 100%;
  top: 0;
  position: absolute;
  cursor: pointer;
  justify-content: center;
}

.menu-submit {
  display: none;
}

.menu-icon {
  width: 17px;
  height: 100%;
  margin: 0;
  border: 0;
}

.menu-input:focus,
.menu-input:active {
  background-color: white;
  color: black;
}

.menu-input:focus + .menu-label .menu-icon g {
  opacity: 1;
}

.menu-input:focus + .menu-label .menu-icon path {
  fill: #ee3643;
}

::placeholder {
  color: white;
}

.button-menu {
  display: flex;
  width: 150px;
  height: 42px;
  color: white;
  text-transform: none;
  align-items: center;
  justify-content: center;
}

.wrapper a:nth-of-type(2) {
  padding-right: 5px;
}

.wrapper a:nth-of-type(3) {
  padding-right: 15px;
}

.button-menu:hover g {
  opacity: 1;
}

.button-menu:focus g {
  opacity: .3;
}

.button-menu:focus {
  background-color: rgba(22, 29, 41, 1);
  color: rgba(255, 255, 255, 0.5);
}

.icon-bookmark {
  margin-right: 8px;
  margin-top: 2px;
}

.icon-basket {
  margin-left: 13px;
  margin-right: 6px;
}

.order-button {
  display: flex;
  width: 150px;
  height: 100%;
  background-color: #63A63E;
  align-items: center;
  justify-content: center;
  text-transform: none;
  color: white;
}

.order-button:hover {
  background-color: #5FBB2D;
}

.order-button:focus {
  background-color: rgba(99, 166, 62, 1);
  color: rgba(255, 255, 255, 0.5);
}

.info {
  margin-top: 46px;
  height: 112px;
  align-items: flex-start;
}

.caption {
  margin: 0 93px 0 31px;
  text-transform: none;
  color: #EE3643;
  font-family: "Cuprum";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone {
  display: flex;
  width: 270px;
  height: 45px;
  padding-left: 39px;
  color: #EE3643;
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: 'Cuprum';
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  align-items: center;
  border: 3px solid #FFF;
}

.phone::before {
  content: "";
  width: 18px;
  height: 19px;
  margin-right: 16px;
  background-image: url(img/icon-header/icon-phone.svg);
}

.address {
  padding-top: 3px;
  font-family: 'Cuprum';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
}

.auth {
  display: flex;
}

.log-in {
  display: inline-flex;
  width: 121px;
  height: 45px;
  margin-left: 64px;
  align-items: center;
  justify-content: center;
  text-transform: none;
  text-align: center;
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  color: black;
  background-color: white;
}

.log-in::before {
  content: "";
  width: 20px;
  height: 17px;
  margin-right: 6px;
  background-image: url(img/icon-header/icon-login-in.svg);
}

.register {
  display: inline-flex;
  width: 145px;
  height: 45px;
  margin-left: 18px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: none;
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  color: black;
  background-color: white;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  box-shadow: inset 0 -5px 0 0 #293449;
  width: 940px;
  min-height: 60px;
  margin: 0 auto 60px;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  text-transform: none;
  background-color: #32425c;
}

.nav-item a {
  outline: 0;
  display: block;
  text-align: center;
  padding: 18px 30px 23px;
  color: #fff;
  cursor: pointer;
}

.main {
  background-color: white;
}

.features-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.features-item {
  width: 300px;
  height: 123px;
  outline: 1px dashed grey;
  margin-right: 20px;
}

.features-item:nth-of-type(3) {
  margin-right: 0;
}

.slide-features {
  display: flex;
  width: 940px;
  margin: 0 auto;
  flex-wrap: wrap;
  outline: 1px dashed grey;
}

.slide {
  width: 620px;
  height: 266px;
  background-color: lightblue;
  outline: 1px dashed grey;
}

.slide-features .features-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  margin-left: 20px;
  outline: 1px dashed grey;
}

.slide-features .features-list .features-item:nth-of-type(1) {
  margin-bottom: 20px;
}

.popular-products {
  display: flex;
  width: 940px;
  height: 89px;
  margin: 0 auto;
  background-color: #F9F5F0;
  justify-content: space-between;
  align-items: center;
}

.goods {
  color: #32425C;
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: 'Cuprum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-left: 28px;
}

.all-goods {
  display: inherit;
  width: 192px;
  height: 38px;
  background-color: #EE3643;
  color: #FFF;
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: 'Cuprum';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  align-items: center;
  justify-content: center;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  min-height: 427px;
  padding: 0;
  margin: 0 auto;
  background-color: lightblue;
  justify-content: space-between;
  align-items: center;
  outline: 1px dashed grey;
  list-style: none;
}

.card-item {
  display: inherit;
  width: 220px;
  min-height: 318px;
  background-color: gray;
}

.partners-list {
  display: grid;
  margin: 0 auto;
  padding: 0;
  width: 940px;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 220px);
  list-style: none;
}

.partner-item {
  display: flex;
  min-height: 145px;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.services {
  display: flex;
  width: 100%;
  min-height: 522px;
  background-color: lightblue;
}

.contacts-main {
  display: flex;
  width: 940px;
  min-height: 356px;
  margin: auto;
  background-color: aquamarine;
}

.footer {
  display: flex;
  width: 100%;
  min-height: 300px;
  background-color: #32425C;
  justify-content: center;
  align-items: center;
}
